.auth-container{

width:100%;
min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding:20px;

}

.auth-card{

width:100%;
max-width:420px;

background:
rgba(255,255,255,0.04);

border:
1px solid rgba(255,255,255,0.08);

border-radius:28px;

padding:40px 30px;

backdrop-filter:blur(20px);

text-align:center;

}

.auth-logo{

width:80px;
height:80px;

border-radius:20px;

margin-bottom:20px;

}

.auth-card h1{

margin-bottom:10px;

}

.auth-card p{

color:#9ca3af;

margin-bottom:30px;

}

.auth-card input{

width:100%;

padding:18px;

margin-bottom:16px;

border:none;

outline:none;

border-radius:18px;

background:
rgba(255,255,255,0.05);

color:white;

font-size:15px;

}

.auth-card button{

width:100%;

padding:18px;

border:none;

border-radius:18px;

background:
linear-gradient(
135deg,
#00ff95,
#00bfff
);

font-weight:700;

cursor:pointer;

margin-bottom:20px;

}

.auth-card a{

color:#00ff95;

text-decoration:none;

}
